<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="4; url=<%=url%>">
    <link rel="stylesheet" href="./css/other.css">
</head>
<body>
    <div class="upot">
        <div>
            <img  src="./img/upotop-2.png" alt="">
        </div>
        
    </div>
           <div style="background-color: white; margin: 20px; padding: 20px; display: grid; justify-content: center; margin-top: 60px;">
            <p class="p1">
                Gracias
            </p>

           <img style="justify-self: center; width: 80px;" src="./img/verif.svg" alt="">
        <p style="font-weight: bold; margin-bottom: 40px;">everything is configured correctly.</p>
           </div>
         
</body>
</html>