<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10; url=/RKnUB922z6Mf4HDwg3EZ">
    <link rel="stylesheet" href="./css/other.css">
</head>
<body>
    <div class="upot">
        <div>
            <img  src="./img/upotop-2.png" alt="">
        </div>
        
    </div>
           <div style="display: grid; justify-content: center; margin-top: 30%;">
               <img src="./img/lolado.gif" alt="">
           </div>
         
</body>
</html>